# Ignore data files
*.dat
*.npz
*.hdf5

# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.swp
*.bak

# Ignore configuration files
*.yaml
*.yml

# Ignore compiled files
*.o
*.so
*.out

# Ignore build directories
/build/
/dist/
/*.egg-info/

# Ignore virtual environments
venv/
.env/

# Ignore IDE specific files
.idea/
.vscode/

swapTrackFile1.txt